

body{


    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
/* menu style */



/* players styling */

.players-info{

    margin-top: 70px;
  
    margin-bottom: 120px;
}

.players-detail{


    display: flex;
    justify-content: center;
    align-items: center;
}
.players{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}

.player{

    display: flex;
    flex-direction: column;
    
    width: 330px;
    height: 435px;
    border: 5px solid white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}

.player img{

    width: 300px;
    height: 256px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 16px;
    
  
}

.player h3{

    margin-top: 0;
    font-size: 28px;
    font-weight: 700;
    margin-left: 15px;
    margin-bottom: 10px;
}

.player p{
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    color: #6C6C6C;
  
}

/* highlight section styling */

.highlights{


    margin-top: 0;
    margin-bottom: 110px;
}

.highlight-section{

    display: flex;
}

.copa-highlights{

    width: 450px;
    height: 309px;
    margin-left: 195px;
    margin-right: 69px;
    margin-top: 20px;
    margin-bottom: 0;
}

.copa-highlights h1{

   
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 0;
}

.copa-highlights p{

    margin-top: 0;
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    
}
.copa-screenshots img{

    width: 600px;
    height: 427px;
    margin-right: 156px;
    margin-top: 0;
    margin-left: 0;
}

.copa-highlights a{

    text-decoration: none;
    
    width: 172px;
    height: 44px;
    background-color: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 24px;
}

/* social media icons styling */

.icons{

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 475px;
}
.social-media{

    margin-top: 158px;
    margin-bottom: 63px;
}


.football-logo img{

    margin-top: 0;
    width: 484px;
    height: 110px;
  
}

.social-media-icons{


    margin-left: 125px;
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: none;

   
}

.copyright p{
    margin-top: 10px;
    margin-left: 120px;
    
    font-size: 18px;
    width: 236px;
    height: 31px;
    font-weight: 400;
    color: #000000;
}



.icon {

   font-size: 32px;
   margin-right: 20px;
   text-align: center;
    
}

.one{
    background-color: #969BAB;
    padding: 5px;
    border-radius: 20px;
    color: whitesmoke;

}

.two{

    background-color: #969BAB;
    padding: 5px;
    border-radius: 20px;
    color: whitesmoke;
}

.three{

    background-color: #969BAB;
    padding: 5px;
    border-radius: 20px;
    color: whitesmoke;
}

.four{

    background-color: #969BAB;
    padding: 5px;
    border-radius: 20px;
    color: whitesmoke;
}

.lone-h1{

    font-size: 60px;
    text-align: center;
    font-weight: 700;

}


/* video entretainemnt section styling */

.entertainment{

    margin-top: 70px;
   
    margin-bottom: 120px;
}
.entertainment h1{
text-align: center;
    font-size: 70px;
    font-weight: 700;
    
}

.entertainment-dimension{


    display: flex;
    justify-content: center;
    align-items: center;
}
.entertainment-detais{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 35px;
    grid-column-gap: 35px;
  
}

.entertainment-resources{

    display: flex;
    flex-direction: column;
    
    width: 440px;
    height: 315px;
    border: 5px solid white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.entertainment-resources h2{

    text-align: center;
}

.entertainment-resources video{

    width: 410px;
    height: 256px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 16px;
    
  
}

.entertainment-resources h2{

    margin-top: 0;
    font-size: 28px;
    font-weight: 700;
    margin-left: 15px;
    margin-bottom: 10px;
}

.entertainment-resources p{
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    color: #6C6C6C;
  
}

/* jersey section styling */

.jersey{

    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #a7391d;
   

    
}

.jersey-info{

    margin-top: 70px;
   
    margin-bottom: 120px;
    
}

.jersey-dimension{

   

        display: flex;
        flex-direction: column;
        
        width: 330px;
        height: 390px;
        border: 5px solid white;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        
    
}

/* Media Queris */

/* mobile devices */

@media only screen and (max-width:688px) {


.players{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 27px;

    
    
}

.player{

    width: 330px;
    height: 426px;
    position: relative;

 
    
}

.player img{

    width: 300px;
    height: 256px;
    position: relative;
}
.highlight-section{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    position: relative;
    bottom: 60px;
    
    
}

.copa-highlights{


    height: 299px;
    margin-top: 0;
    margin-right: 270px;
    margin-left: 23px;


}
.copa-highlights h1{

    font-size: 30px;
    margin-top: 0%;
}

.copa-highlights p{

    font-size: 16px;
    margin-top: 0%;
}

.lone-h1{

    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    bottom: 300px;
}


.copa-screenshots img{

    margin-top: 0;
   position: relative;
   bottom: 100px;
   
    width: 328px;
    height: 248px;
    margin-right: 380px;
    margin-bottom: 0;
    margin-left: 11px;
}

.highlight-section{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    bottom: 140px;
}

.entertainment-detais{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 35px;
    
  
}

.entertainment-resources{


    position: relative;
    bottom: 260px;

}
.entertainment-resources video{

    width: 300px;
    height: 256px;
    margin-left: 60px;
    margin-top: 0;
    
}

.entertainment-resources h2{

    margin-right: 40px;
}

.jersey{

    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #a7391d;
    position: relative;
    bottom: 200px;
    margin-bottom: 0;
}
    
.players{

    position: relative;
    bottom: 70px;
}
   
.football-logo img{
    width: 275px;
    height: 63px;
    position: relative;
    right: 440px;
    bottom: 180px;
}

.social-media-icons{
    position: relative;
    right: 508px;
    font-size: 20px;
    bottom: 145px;
    display: flex;
    -ms-flex-direction: row;

}

.copyright{

    display: flex;
    position: relative;
    right: 408px;
    
    
   
}

.copyright p{


    font-size: 18px;
    margin-left: 0;
    position: relative;
    left: 20px;
    bottom: 120px;
    width: 236px;
    height: 31px;


    
}
.organoze{

    display: inline;
}

}

